<div class="aboutpage-content">
    <h1 class="aboutpage-content__header">
        Rec
    </h1>

    <p>
        Top <%= @recs_top %>
    </p>

    <p>
        Jungle <%= @recs_jungle %>
    </p>

    <p>
        Middle <%= @recs_middle %>
    </p>

    <p>
        Bottom Carry <%= @recs_bottom_carry %>
    </p>

    <p>
        Bottom Support <%= @recs_bottom_support %>
    </p>
</div>
