<% if flash.alert %>
  <div class="alert-message">
    <%= flash.alert %>
  </div>
<% end %>

<%= react_component("LolCupid.Homepage", render('index_data.json.jbuilder')) %>

<div class="blurbs">
  <div class="blurbs__blurb">
    <img src="<%= image_path("ss1.png") %>" />
    <div class="blurbs__blurb-text">
      <h1 class="logo-header logo-header--topbar">
        <span class="logo-header__prefix">LoL</span><span class="logo-header__suffix">Cupid</span>
      </h1>
      offers champion recommendations based on your selected champions or your top
      <a href="http://na.leagueoflegends.com/en/page/features/champion-mastery">mastered champions</a>
      by analyzing what other summoners with similar masteries have also enjoyed.
      <a href="/about#math">See more details.</a>
    </div>
  </div>

  <div class="blurbs__blurb">
    <img src="<%= image_path("ss2.png") %>" />
    <div class="blurbs__blurb-text">
      Recommendations appear organized by role. Find the perfect champion to learn the role you've always wanted to master!
    </div>
  </div>

  <div class="blurbs__blurb">
    <img src="<%= image_path("ss3.png") %>" />
    <div class="blurbs__blurb-text">
      Champion recommendation overviews give you more insight into how that champion plays.
    </div>
  </div>
</div>
