<!DOCTYPE html>
<html>
<head>
  <title>lolCupid</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-with-header-footer">
    <div class="page-with-header-footer__header">
      <div class="page-with-header-footer__header__logo">
        <a href="/">lolCupid</a>
      </div>
      <%= react_component("LolCupid.TopbarSearch", render('index_data.json.jbuilder')) %>
    </div>
    <div class="page-with-header-footer__content">
      <%= yield %>
    </div>
    <div class="page-with-header-footer__footer">
      &copy; 2016
      &#183;
      We are not affiliated with Riot Games, Inc. in any manner. See the <a href="/about#terms"> official terms</a>.
    </div>
  </div>
</body>
</html>
