<!DOCTYPE html>
<html>
<head>
  <title>LoLCupid</title>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-with-header-footer">
    <div class="page-with-header-footer__header">
      <div class="page-with-header-footer__header__logo">
        <a href="/">
          <h1 class="logo-header logo-header--topbar">
            <span class="logo-header__prefix">LoL</span><span class="logo-header__suffix">Cupid</span>
          </h1>
        </a>
      </div>
      <%= react_component("LolCupid.TopbarSearch", render('index_data.json.jbuilder')) %>
    </div>
    <div class="page-with-header-footer__content">
      <%= yield %>
    </div>
    <div class="page-with-header-footer__footer">
      <a href="/about">
        About
      </a>
      &#183;
      &copy; Zach Allaun, Troy Baker 2016
      &#183;
      We are not affiliated with Riot Games, Inc. in any manner. See the <a href="/about#terms"> official terms</a>.
    </div>
  </div>

  <%= render 'layouts/g_analytics' %>
</body>
</html>
