<!DOCTYPE html>
<html>
<head>
  <title>LoLCupid</title>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="background-image" style="background-image: url('<%= Champion.random_splash %>');"></div>

  <div class="page-with-footer">
    <div class="page-with-footer__content">
      <%= yield %>
    </div>
    <div class="page-with-footer__footer">
      <a href="/about">About</a>
      <a href="https://github.com/zachallaun/lolcupid">Code on GitHub</a>
      <div><%= @summoner_count %> Summoners analyzed.<div>
    </div>
  </div>

</body>
</html>
