<!DOCTYPE html>
<html>
<head>
  <title>lolCupid</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="background-image" style="background-image: url('<%= Champion.random_splash %>');"></div>

  <div class="page-with-footer">
    <div class="page-with-footer__content" style="z-index: 1;">
      <%= yield %>
    </div>
    <div class="page-with-footer__footer" style="z-index: 1;">
      <a href="about.html"> About </a>
      <!-- <p style="text-align: right;"> hello </p> -->
    </div>
  </div>

</body>
</html>
